@model IEnumerable<CCbook2.Entities.Post>
@using CCbook2.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<h1>My Posts</h1>

<p>
    <a asp-action="Create" asp-route-userId="@UserManager.GetUserId(User)">Create New Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
@*                @Html.DisplayNameFor(model => model.UserId)
*@ 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
@*                    <a asp-action="Edit" asp-route-userId="@UserManager.GetUserId(User)">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
*@                       <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Comment" asp-action="Index" asp-route-postId="@item.Id">Comments</a>

            </td>
        </tr>
}
    </tbody>
</table>
